# Python is:
* An interpreted, 
* Object-oriented, 
* high-level programming language with 
* dynamic semantics / variables are dynamic objects


# Introduction to Google Colab


<img src = "https://drive.google.com/uc?id=1gWczOrIethpV7ZLzdwTIxDpx1QI0rdo8">

# Verify installation of python and pip

In local Machine on notebooks

```
!python –-version
!pip –-version
```

# What is pip?

pip is the standard package manager for Python. 
We can use pip to install additional packages that are not available in the Python standard library. For example, Numpy is not available in python preinstalled

```python
pip install numpy
```

This command would have installed the `numpy` library.

# What is a python program?

A program is a set of instructions that a computer uses to perform a specific function.

```python
print("Hello, World!")
```
Instructions that a Python interpreter can execute are called statements. For example, print("Hello, World!") is print  statement.

In [1]:
print('Hello, world!')

Hello, world!

In [2]:
print("Welcome to Python for Research")

Welcome to Python for Research

Class work: WAP to print your name

In [3]:
print("Hello, My name is Kshitiz Regmi")

Hello, My name is Kshitiz Regmi

# Using Python as calculators —Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

* Addition (+)

* Subtraction (-) 

* Multiplication (*)

* Division (/) 

* Modulus (%)

* Exponentiation (**)

* Floor division (//)


<figure>
    <img src='https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png' alt='missing' />
    <figcaption>Arithmatic operation using artihmaitc oparator src:devopsschool.com</figcaption>
</figure>

In [4]:
4+2

6

In [5]:
4-2

2

In [6]:
# divide two number
15/2

7.5

In [7]:
15//2 # floor division

7

In [8]:
4**2

16

In [9]:
5//2

2

In [10]:
-5//2

-3

In [11]:
# adds two number 
a = 50
b = 5
c = a + b
print(c)

55

In [12]:
# subtracts two number 
x = 6
y = 11
z = x - y
print(z)

-5

# IEEE 754 standard for floating point arithmetic

* https://en.wikipedia.org/wiki/IEEE_754
* https://docs.python.org/3/tutorial/floatingpoint.html

In [13]:
24.95 - 9.98

14.969999999999999

In [14]:
round(24.95 - 9.98 , 2)

14.97

# Operator Precedence


When more than one operator appears in an expression, the order of evaluation depends on the rules of precedence. For mathematical operators, Python follows mathematical convention. 

The acronym PEMDAS is a useful way to remember the rules:

* Parentheses have the highest precedence and can be used to force an expression to evaluate in the order you want. Since expressions in parentheses are evaluated first, 2 * (3-1) is 4, and (1+1)**(5-2) is 8.

* Exponentiation has the next highest precedence, so `2**1+1` is 3, not 4, and `3*1**3` is 3, not 27.

* Multiplication and Division have the same precedence, which is higher than Addition and Subtraction, which also have the same precedence.  So `2*3-1` is `5`, not 4, and `6+4/2` is `8`, not 5.

Operators with the same precedence are evaluated from left to right (except exponentiation).

In [15]:
 2 * (3-1)

4

In [16]:
(1+1)**(5-2)

8

In [17]:
2**1+1

3

In [18]:
3*1**3

3

In [19]:
2*3-1

5

In [20]:
6+4/2

8.0

In [21]:
2 ** 3 ** 2 # evaluated as 2**9

512

In [22]:
2**9

512

In [23]:
(2 ** 3) ** 2 # evaluated as 8**2

64

# = doesn’t mean equals to it means assignment of value to an object

A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data that can be changed later in the program.
```oython
dall_in_kg  =   60.5
```

dall_in_kg is a variable name. 60.5 is a quanity or data.


# Are all variable name valid? -- no

**Python Keywords**

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In [24]:
global = 40

SyntaxError: invalid syntax (1216893355.py, line 1)

In [25]:
False = 33

SyntaxError: cannot assign to False (3207430437.py, line 1)

In Python, keywords are case sensitive.

In [26]:
global = 40

SyntaxError: invalid syntax (1216893355.py, line 1)

In [27]:
Global = 40 # valid because python is case sensative global is a keyword however Global is not a keyword

**We cannot use special symbols like !, @, #, $, % etc. in our identifier.**

In [28]:
$obj = 5

SyntaxError: invalid syntax (3237788464.py, line 1)

In [29]:
@name=66

SyntaxError: invalid syntax (365329252.py, line 1)

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) (at last) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example. It can be of any length.

Note: Python is case-senative language

In [30]:
variable = 4568
Variable = 22
print("variable is = {}".format(variable))
print("Variable is = {}".format(Variable))

variable is = 4568
Variable is = 22

# How can we update or change variable value in a program?

In [31]:
first_number =  60.5
print("first_number before replacement = {}".format(first_number))
first_number = 3
print("first_number after replacement = {}".format(first_number))

first_number before replacement = 60.5
first_number after replacement = 3

In [32]:
first_number =  60.5
print("first_number before Update = {}".format(first_number))
first_number = first_number + 1.5
print("first_number after Update = {}".format(first_number))

first_number before Update = 60.5
first_number after Update = 62.0

In [33]:
x = 60
print("Initially x was {}".format(x))
x = x + 0.5
print("Finally x is {}".format(x))

Initially x was 60
Finally x is 60.5

In [34]:
x = 40
print("Initially x was {}".format(x))
x = 'hi'
print("Finally x is {}".format(x))

Initially x was 40
Finally x is hi

# Assigning multiple values to multiple variables

In [35]:
a, b = 5, 6

In [36]:
a

5

In [37]:
b

6

# WAP to swap values between  two variables 

num1 = 78
num2 = 60

### After swap 
Output: num1 = 60, num2 = 78

In [38]:
# Program
num1 = 78
num2 = 60

print("Before Swap num1 = {} , num2 = {}".format(num1, num2))
num1 = num1 + num2  # num1 = 138 (78+60)
num2 = num1 - num2  # num2 = 78  (138-60)
num1 = num1 - num2  # num1 = 60   (138-78)
print("After Swap num1 = {} , num2 = {}".format(num1, num2))

Before Swap num1 = 78 , num2 = 60
After Swap num1 = 60 , num2 = 78

In [39]:
# Program
num1 = 78
num2 = 60
num2, num1 = num1, num2
num1,num2

(60, 78)